.ipynb_checkpoints/
1967
1997
2009
2012
2013
2013_original
2017
2017_original
Cluster_division_of_all_films_10.csv
Cluster_division_of_all_films_15.csv
Cluster_division_of_all_films.csv
haarcascade_frontalface_default.xml
haarcascade_profileface.xml
Papers
PCA_for_all_films_new.csv
PCA_for_all_films.csv
vgg16_weights_tf_dim_ordering_tf_kernels.h5